name: Index And Serve

on:
  # Runs on pushes targeting the `main` branch.
  push:
    branches: [main]

  schedule:
    - cron:  '55 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages and Push
permissions:
  contents: write # push
  pages: write # page write
  id-token: write # page write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  # Build job
  build:
    runs-on: ubuntu-22.04
    steps:
     
      - name: Checkout Stratagems
        uses: actions/checkout@v4
        with:
          repository: wighawag/stratagems
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'
      
  
      - name: Install dependencies for Stratagems
        run: pnpm install --ignore-scripts


      - name: Checkout Snapshots
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: ./__snapshots
          
      - name: Index Stratagems (composablelabs)
        env: 
          ETH_NODE_URI_composablelabs: ${{ secrets.ETH_NODE_URI_COMPOSABLELABS }}
        run: |
          mkdir -p ./web/static/indexed-states/
          cp -R ./__snapshots/snapshosts/* ./web/static/indexed-states/ 2>/dev/null || :
          pnpm indexer:index composablelabs
          mkdir -p ./__snapshots/snapshosts
          cp -R ./web/static/indexed-states/* ./__snapshots/snapshosts/
          

      - name: Index Stratagems (alpha1test)
        env: 
          ETH_NODE_URI_alpha1test: ${{ secrets.ETH_NODE_URI_ALPHA1TEST}}
        run: |
          mkdir -p ./web/static/indexed-states/
          cp -R ./__snapshots/snapshosts/* ./web/static/indexed-states/ 2>/dev/null || :
          pnpm indexer:index alpha1test
          mkdir -p ./__snapshots/snapshosts
          cp -R ./web/static/indexed-states/* ./__snapshots/snapshosts/

      - name: Index Stratagems (alpha1)
        env: 
          ETH_NODE_URI_alpha1: ${{ secrets.ETH_NODE_URI_ALPHA1}}
        run: |
          mkdir -p ./web/static/indexed-states/
          cp -R ./__snapshots/snapshosts/* ./web/static/indexed-states/ 2>/dev/null || :
          pnpm indexer:index alpha1
          mkdir -p ./__snapshots/snapshosts
          cp -R ./web/static/indexed-states/* ./__snapshots/snapshosts/


      - name: Push
        run: |
          cd ./__snapshots
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "update"
          git push


      - name: Generate Directory Listings
        uses: jayanta525/github-pages-directory-listing@v4.0.0
        with:
          FOLDER: ./__snapshots/snapshosts/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./__snapshots/snapshosts/

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-22.04
    name: Deploy
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
